# IBM Data Science Specialisation Capstone Project
#### Business Problem
A pizza restaurant chain is looking for a place to open their first outlet in the city of Mumbai as an experimental run. If the campaign turns out to be successful, they might think about expanding their business in the city by opening more outlets. Naturally they are looking for a place that would be optimal for their experimental run.
They have obtained a list of seven prime locations in the city where a store is available to be leased out. The restaurant chain wants to know which location would be the optimal in terms of sales.

#### Data Section
We had very little data to begin with. All that was provided to us were the latitudes and longitudes of seven locations and we were to give them which spot would be the best for their business.
<table>
  <tr>
    <th>BranchID</th>
    <th>Location</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <tr>
    <td>IIT001</td>
    <td>IIT Area</td>
    <td>19.134344</td>
    <td>72.890891</td>
  </tr>
  <tr>
    <td>ANE002</td>
    <td>Andheri East</td>
    <td>19.114737</td>
    <td>72.850938</td>
  </tr>
  <tr>
    <td>BRV003</td>
    <td>Borivali</td>
    <td>19.231771</td>
    <td>72.828090</td>
  </tr>
  <tr>
    <td>MUU004</td>
    <td>University Area</td>
    <td>19.102123</td>
    <td>72.804951</td>
  </tr>
  <tr>
    <td>BKC005</td>
    <td>BKC Region</td>
    <td>19.063391</td>
    <td>72.851835</td>
  </tr>
  <tr>
    <td>CHM006</td>
    <td>Chembur East</td>
    <td>19.020779</td>
    <td>72.834109</td>
  </tr>
  <tr>
    <td>CLB007</td>
    <td>Colaba</td>
    <td>18.922700</td>
    <td>72.830696</td>
  </tr>
</table>

Using the foursquare API, we managed to obtain just about enough information about each location so as to come up with an answer.